<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logtailToken" source="logtail.sourceToken"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="BETTERSTACK" class="com.logtail.logback.LogtailAppender">
        <appName>middleware-service</appName>
        <sourceToken>${logtailToken}</sourceToken>
    </appender>

    <!-- Perfil local: solo consola -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!-- Cualquier otro perfil (prod, default): consola + BetterStack -->
    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="BETTERSTACK" />
        </root>
    </springProfile>

</configuration>